# Ignore Python virtual environments
backend/venv/

# ignore vscode files
backend/.vscode/

# Ignore firebase service key
backend/serviceAccountKey.json

# ignore auth token
backend/authorizationToken.txt

# Ignore pycache files
# Python cache files
**/__pycache__/
*.py[cod]
*$py.class
