# Ignore Python virtual environments
venv/

# Ignore firebase service key
backend/serviceAccountKey.json

# ignore auth token
backend/authorizationToken.txt

# Ignore pycache files
backend/__pycache__/
